/* registrazione.component.css */

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 5px solid #2b00ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b00ff;
}

.error-message {
    color: red;
    margin-top: 10px;
}